layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }

    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}#[bg=#282828] {tabs}"
                format_center ""
                format_right  "{swap_layout}#[bg=#282828,fg=#504945] Zellij: #[bg=#282828,fg=#504945]{session}"
                format_space  "#[bg=#282828]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#928374]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#b8bb26,fg=#282828,bold] NORMAL#[bg=#282828,fg=#b8bb26]"
                mode_locked        "#[bg=#928374,fg=#282828,bold] LOCKED #[bg=#282828,fg=#928374]"
                mode_resize        "#[bg=#83a598,fg=#282828,bold] RESIZE#[bg=#282828,fg=#83a598]"
                mode_pane          "#[bg=#83a598,fg=#282828,bold] PANE#[bg=#282828,fg=#83a598]"
                mode_tab           "#[bg=#83a598,fg=#282828,bold] TAB#[bg=#282828,fg=#83a598]"
                mode_scroll        "#[bg=#83a598,fg=#282828,bold] SCROLL#[bg=#282828,fg=#83a598]"
                mode_enter_search  "#[bg=#83a598,fg=#282828,bold] ENT-SEARCH#[bg=#282828,fg=#83a598]"
                mode_search        "#[bg=#83a598,fg=#282828,bold] SEARCHARCH#[bg=#282828,fg=#83a598]"
                mode_rename_tab    "#[bg=#83a598,fg=#282828,bold] RENAME-TAB#[bg=#282828,fg=#83a598]"
                mode_rename_pane   "#[bg=#83a598,fg=#282828,bold] RENAME-PANE#[bg=#282828,fg=#83a598]"
                mode_session       "#[bg=#83a598,fg=#282828,bold] SESSION#[bg=#282828,fg=#83a598]"
                mode_move          "#[bg=#83a598,fg=#282828,bold] MOVE#[bg=#282828,fg=#83a598]"
                mode_prompt        "#[bg=#83a598,fg=#282828,bold] PROMPT#[bg=#282828,fg=#83a598]"
                mode_tmux          "#[bg=#fe8019,fg=#282828,bold] TMUX#[bg=#282828,fg=#fe8019]"

                // formatting for inactive tabs
                tab_normal              "#[bg=#282828,fg=#8ec07c]#[bg=#8ec07c,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#8ec07c,bold] {name}{floating_indicator}#[bg=#282828,fg=#3c3836,bold]"
                tab_normal_fullscreen   "#[bg=#282828,fg=#8ec07c]#[bg=#8ec07c,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#8ec07c,bold] {name}{fullscreen_indicator}#[bg=#282828,fg=#3c3836,bold]"
                tab_normal_sync         "#[bg=#282828,fg=#8ec07c]#[bg=#8ec07c,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#8ec07c,bold] {name}{sync_indicator}#[bg=#282828,fg=#3c3836,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=#282828,fg=#fabd2f]#[bg=#fabd2f,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#fabd2f,bold] {name}{floating_indicator}#[bg=#282828,fg=#3c3836,bold]"
                tab_active_fullscreen   "#[bg=#282828,fg=#fabd2f]#[bg=#fabd2f,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#fabd2f,bold] {name}{fullscreen_indicator}#[bg=#282828,fg=#3c3836,bold]"
                tab_active_sync         "#[bg=#282828,fg=#fabd2f]#[bg=#fabd2f,fg=#1d2021,bold]{index} #[bg=#3c3836,fg=#fabd2f,bold] {name}{sync_indicator}#[bg=#282828,fg=#3c3836,bold]"

                // separator between the tabs
                tab_separator           "#[bg=#282828] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#928374,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Stockholm"
            }
        }
        children
    }
}
